<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{% if page.use-site-title %}{{ site.title }} {{ site.title-separator }} {{ site.description }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="author" content="{{ site.author.name }}" />
  {% assign seo_description = page.meta-description | default: page.subtitle | default: site.description %}
  <meta name="description" content="{{ seo_description | strip_html | strip_newlines | xml_escape }}" />

  {% if page.sitemap == false %}
  <meta name="robots" content="noindex, nofollow" />
  {% else %}
  <meta name="robots" content="index, follow, max-image-preview:large" />
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} {{ site.title-separator }} {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  {% include gtm_head.html %}

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
    {% endfor %}
  {% endif %}

  {% if layout.common-googlefonts %}
    {% for font in layout.common-googlefonts %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
    {% endfor %}
  {% endif %}

  {% if page.googlefonts %}
    {% for font in page.googlefonts %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}

  {% if site.fb_app_id %}
  <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
  {% endif %}

  <meta property="og:site_name" content="{{ site.title }}" />
  {% if page.meta-title %}
  <meta property="og:title" content="{{ page.meta-title }}" />
  {% elsif page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  {% else %}
  <meta property="og:title" content="{{ site.title }}" />
  {% endif %}
  <meta property="og:description" content="{{ seo_description | strip_html | strip_newlines | xml_escape }}" />
  <meta property="og:type" content="website" />

  {% if page.id %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  {% else %}
  <meta property="og:url" content="{{ site.url }}{{ page.url | remove: '/index.html' | remove: '.html' }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | remove: '/index.html' | remove: '.html' }}" />
  {% endif %}

  {% if page.share-img %}
    {% if page.share-img contains '://' %}
    <meta property="og:image" content="{{ page.share-img }}" />
    {% else %}
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.share-img }}" />
    {% endif %}
  {% elsif page.img %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.img }}" />
  {% endif %}

  <meta name="twitter:card" content="summary" />
  {% if site.author.twitter %}
  <meta name="twitter:site" content="@{{ site.author.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.author.twitter }}" />
  {% endif %}
  {% if page.meta-title %}
  <meta name="twitter:title" content="{{ page.meta-title }}" />
  {% elsif page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}" />
  {% endif %}
  <meta name="twitter:description" content="{{ seo_description | strip_html | strip_newlines | xml_escape }}" />
  {% if page.share-img %}
    {% if page.share-img contains '://' %}
    <meta name="twitter:image" content="{{ page.share-img }}" />
    {% else %}
    <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}{{ page.share-img }}" />
    {% endif %}
  {% elsif page.img %}
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}{{ page.img }}" />
  {% endif %}

  {% if page.url == '/' %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "@id": "{{ site.url }}/#person",
    "name": "Guoming Tang",
    "url": "{{ site.url }}/",
    "image": "{{ site.url }}/img/profile-photo-gmtang-2024.png",
    "jobTitle": "Assistant Professor",
    "affiliation": [
      {
        "@type": "CollegeOrUniversity",
        "name": "The Hong Kong University of Science and Technology (Guangzhou)",
        "url": "https://www.hkust-gz.edu.cn/"
      },
      {
        "@type": "CollegeOrUniversity",
        "name": "The Hong Kong University of Science and Technology",
        "url": "https://hkust.edu.hk/"
      }
    ],
    "sameAs": [
      "https://github.com/guomingtang",
      "https://scholar.google.com/citations?user=8key_ToAAAAJ",
      "https://dblp.org/pid/15/9707.html"
    ],
    "knowsAbout": [
      "Sustainable computing",
      "Artificial intelligence infrastructure",
      "Large language model serving",
      "Cloud and edge computing",
      "AI for energy systems"
    ]
  }
  </script>
  {% endif %}
</head>
